.postContainer {
    padding-top: 40px;
}

.separator {
    padding-top: 40px;
}

.sectionDiv {
    padding-top: 5px;
}

a.anchor {
    display: block;
    position: relative;
    top: -40px;
    visibility: hidden;
}

a.active {
    text-decoration: underline;
}